.dossiers-list-container {
  padding: 20px;
  background-color: #dddddd00;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #252222bc;
  margin-bottom: 20px; /* Espace en dessous du titre */
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
  margin-bottom: 15px; /* Espace entre les éléments de la liste */
  padding: 50px; /* Espace interne autour du contenu */
  border-bottom: 1px solid #ddd;
  background-color: #5c5c0f0a;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

mat-list-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.mat-list-item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dossier-info {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 10px; /* Espace entre les lignes d'information */
}

.dossier-details {
  font-size: 16px;
  color: #333;
}

.btn-scan {
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f39c12;
  color: #ffffff;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  gap: 8px; /* Espace entre l'icône et le texte */
}
.mat-mdc-button:not(:disabled) {
  color: #fff;
}

.btn-scan mat-icon {
  color: #ffffff; /* Couleur de l'icône */
}

.btn-scan:hover {
  background-color: #ffa515;
  transform: translateY(-2px) scale(1.00);
}
