<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifier l'affilié</title>

</head>
<body>
    <div class="container">
        <div class="title" style=" margin-bottom: 20px;font-family: 'Roboto', sans-serif;font-weight: 500; color: #333;font-size: 26px; text-align:center;" class="missing-documents" *ngIf="showMissingPaper">Notification du Dossier Incomplet </div>
        <div class="title" style=" margin-bottom: 20px;font-family: 'Roboto', sans-serif;font-weight: 500;color: #333; font-size: 26px;" class="block-reason" *ngIf="showBlockReason">Notification du Dossier  Bloqué</div>
        <div class="image-container">
            <img src="https://png.pngtree.com/png-vector/20200709/ourlarge/pngtree-concept-vector-illustration-of-sending-email-with-computer-png-image_2303206.jpg" alt="Notification Image" width="200px" height="200px">
        </div>
        
        <!-- Section Papiers Manquants -->
        <div class="missing-documents" *ngIf="showMissingPaper">
            <label for="missingDocs">Cochez Les Papiers Manquants</label>
            <div id="missingDocs" class="checkbox-group">
                <div class="checkbox-container" *ngFor="let doc of documents">
                    <input type="checkbox" [value]="doc" (change)="updateMissingDocs($event)">
                    <label>{{ doc }}</label>
                </div>
            </div>
            <label for="missingDocsDetails" style="font-weight: bold;">Les documents manquants</label>
            <textarea id="missingDocsDetails" name="missingDocsDetails" [(ngModel)]="missingDocsDetails" placeholder="Les documents manquants..."></textarea>
        </div>
    
        <!-- Section Cause de Blocage -->
        <div class="block-reason" *ngIf="showBlockReason">
            
            <label for="blockingReason" style="font-weight: bold;margin-left:-135px;">Veuillez préciser :</label>
            <textarea id="blockingReason" name="blockingReason" [(ngModel)]="blockingReason" placeholder="Entrez la raison ici..."></textarea>
        </div>
    
        <div class="button-container">
            <button (click)="sendPhoneMessage()">Message téléphonique</button>
            <button (click)="sendMail()">Courrier</button>
        </div>
    </div>
    
</body>
</html>
