<body>
  <div class="forgot-password-container">
    <img src="assets/logoCNRPS.png" alt="CNRPS Logo">
    <h2>Mot de passe oublié</h2>
    <p>Entrez votre adresse e-mail pour demander un nouveau mot de passe.</p>
    <div class="input-group">
      <i class="fas fa-envelope"></i>
      <input type="email" placeholder="Votre adresse e-mail" [(ngModel)]="email" required>
    </div>
    <button class="submit-btn" (click)="onSubmit()">Envoyer la demande</button>
    <a [routerLink]="['/login']" class="back-to-login">Retour à la connexion</a>
  </div>
</body>
