
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            Papiers Scannés
        </div>
        <div class="card-body">
            <ul class="document-list">
                <li>
                    <a href="document1.pdf" target="_blank">Document 1</a>
                    <i class="fas fa-file-download"></i>
                </li>
                <li>
                    <a href="document2.pdf" target="_blank">Document 2</a>
                    <i class="fas fa-file-download"></i>
                </li>
                <!-- Répéter pour d'autres documents -->
            </ul>
        </div>
    </div>
</div>


</body>

