
<body>

    <div class="container">
        <div class="header">
            <div class="header-right">
           <p>وحدة اللامركزية </p>
           <p>إقليم الوسط</p>
           <p>المركز المحلي بمنزل تميم</p> 
            </div>
           
            <div class="header-img" ><img src="https://upload.wikimedia.org/wikipedia/fr/6/64/CNRPS.png" alt="Logo CNRPS"></div>
            
            <div  class="header-title">
                <h1><strong>الصندوق الوطني للتقاعد والحيطة الاجتماعية</strong></h1>
               
            </div>
            <div></div> <!-- Empty div to balance the layout -->
        </div>
        <br>
        <hr>
            <div class="content">
                <h2 style="text-align: center;"><strong>مراسلة</strong></h2>
               
                <div class="content">
                   
                    <p><strong>السيد:</strong> {{ affiliateName }}</p>
                    <p><strong> المعرف الوحيد :</strong> {{ dossierNumber }}</p>
                    <p><strong>العنوان:</strong> {{ currentDate }}</p>
                    
                </div>
        
                <div><strong>الموضوع:</strong>
                  تكملة ملف ..... <br>
<strong>المرجع:</strong> مطلبكم الوارد علينا بتاريخ{{currentDate}} <br>وبعد،كي يتسنى لنا دراسة ملفكم المتعلق ب........ و المذكور بالمرجع أعلاه، نطلب منكم مدنا بالوثائق التالية:

<br>
<ul>
  <li *ngFor="let paper of missingPapers">{{ paper }}</li>
</ul>

وذالك في أقرب الآجال للتسريع في النظر في ملفكم  <br> 
وتقبلوا عبارات الاحترام
                </div>
               
            </div>
        
            <div class="footer">
                <div>
                    <p>الموقع: منزل تميم</p>
                </div>
                <div>
                    <p>التاريخ: {{ currentDate }}</p>
                </div>
                <div>
                    <p>الإمضاء :</p>
                </div>
            </div>
        
            <div class="note">
                
                <div class="information">
                    <p>www.cnrps.nat.tn </p>
                   <p>Adresse :Rue De La Plage, Manzil Tamim 8080</p>
                  <p>Tél : +216 72 301 010</p>
                </div>
                
            </div>
        </div>
        <div class="button-container">
            <button onclick="window.print()">Imprimer</button>
        </div>
        
        </body>
    
