.details-container {
    display: flex;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    padding: 20px;
    background-color: #f8f9fa; /* Couleur de fond générale */
}

.employee-info {
    width: 30%;
    text-align: center;
    background-color: #5c5c0f; /* Couleur de fond pour l'espace employé */
    padding: 20px;
    border-radius: 10px; /* Ajoute un peu de style avec des bords arrondis */
    color: white;
}

.employee-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid white; /* Ajoute une bordure blanche autour de la photo */
}

.conge-info {
    width: 60%;
    background-color: #f2f1e9; /* Couleur de fond pour l'espace congé */
    padding: 20px;
    border-radius: 10px; /* Bords arrondis */
    color: black;
    margin-left: 20px; /* Espace entre les deux parties */
}

.actions {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px; /* Bords arrondis pour les boutons */
}

.btn-accepter {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-refuser {
    background-color: #dc3545;
    color: white;
    border: none;
}
