body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;
}
.container {
  width: 100%;
  max-width: 800px; /* S'assure que le contenu s'adapte bien à la page A4 */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #000;
  margin-top: 20px;
  background: #fff;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.header-img {
  flex: 1;
  text-align: left;
  margin-left: -750px;
  
}

.header-img img {
  width: 100px;
}

.header-right {
  flex: 2;
  text-align: right;
}

.header-title {
  flex: 3;
  text-align: center;
}

.header h1 {
  font-size: 35px;
  margin: 0;
  line-height: 1.2;
}

.content {
  margin-top: 20px;
}
.content p {
  margin: 5px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.footer div {
  width: 48%;
  text-align: center;
}
.note {
  font-weight: bold;
  padding-top: 10px;
  font-size: 10px;
  text-align: center;
}
.information p {
  font-size: 9px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button-container button {
  background-color: #153ae2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.button-container button:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

/* Styles pour l'impression */
@media print {
  body {
      margin: 0;
      padding: 0;
      background: #fff;
      font-size: 2em;
  }
  .container {
      width: 100%;
      border: none;
  }
  .button-container {
      display: none;
  }
  .note {
     margin-top: 200px;
      width: 100%;
      text-align: center;
      font-size: 9px; /* Taille plus petite pour la note */
  }
  .header-img {
    flex: 1;
    text-align: left;
    margin-left: -900px;
    
  }
}