
  <body>
    <div class="container">
      <h2 class="text-center" style="color: #5c5c0f">Demande de Congé</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="leaveType">Type de congé</label>
          <select
            id="leaveType"
            name="leaveType"
            class="form-control"
            [(ngModel)]="leaveType"
            style="color: black"
            required
            (change)="onLeaveTypeChange()"
          >
            <option value="" disabled selected>
              Sélectionnez le type de congé
            </option>
            <option value="vacation">Repos</option>
            <option value="sick">Maladie</option>
            <option value="personal">Exceptionnel</option>
            <option value="other">Autre</option>
          </select>
          <div *ngIf="leaveType === 'vacation'" class="constraint">
            Repot : 1 mois par année
          </div>
          <div *ngIf="leaveType === 'sick'" class="constraint">
            Maladie : Selon le certificat médical
          </div>
          <div *ngIf="leaveType === 'personal'" class="constraint">
            Exceptionnel : Jusqu'à 5 jours par an
          </div>
          <div *ngIf="leaveType === 'other'" class="constraint">
            Autre : À préciser avec l'employeur
          </div>
        </div>


        <div class="form-group">
          <label for="startDate">Date de début</label>
          <input
            type="date"
            id="startDate"
            name="startDate"
            class="form-control"
            style="color: black"
            required
            [(ngModel)]="startDate"
            (change)="validateDates()"
          />
          <div *ngIf="startDateError" class="error-message" style="color: red">
            {{ startDateError }}
          </div>
        </div>


        <div class="form-group">
          <label for="endDate">Date de fin</label>
          <input
            type="date"
            id="endDate"
            name="endDate"
            class="form-control"
            style="color: black"
            required
            [(ngModel)]="endDate"
            (change)="validateDates()"
          />
          <div *ngIf="endDateError" class="error-message" style="color: red">
            {{ endDateError }}
          </div>
        </div>

        <div class="form-group">
          <label for="reason">Cause (optionnelle)</label>
          <textarea
            id="reason"
            name="reason"
            rows="4"
            class="form-control"
            style="color: black"
            [(ngModel)]="reason"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="document"
            >Certificat médical ou autre document (optionnel)</label
          >
          <div class="file-input-container">
            <div class="file-input">
              <input
                type="file"
                id="document"
                name="document"
                class="form-control"
                (change)="onFileChange($event)"
              />
              <label for="document" class="file-input-label"
                >Choisir un fichier</label
              >
            </div>
            <div id="file-name" class="file-name">
              {{ fileName || "Aucun fichier choisi" }}
            </div>
          </div>
        </div>

        <div class="form-group text-right">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="formInvalid"
          >
            Valider
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            Annuler
          </button>
        </div>
      </form>
    </div>
    <div class="follow-leave-container">
      <button
        type="button"
        routerLink="/congé/suivie"
        class="btn btn-follow-leave"
      >
        <i class="fas fa-chart-line"></i> Suivre Les Congés
      </button>
    </div>
  </body>

