<div id="dwtcontrolContainer" style="display: none"></div>
<!-- Conteneur Web TWAIN -->
<div class="scanner-container">
  <h2>Scanner le dossier</h2>
  <button mat-button (click)="scan()">Scanner un document</button>
  <button mat-button (click)="close.emit()">Fermer</button>
  <div *ngIf="scannedImages.length > 0">
    <h3>Documents scannés</h3>
    <ul>
      <li *ngFor="let image of scannedImages; let i = index">
        Document {{ i + 1 }}: <img [src]="image" alt="Scanned Document" />
      </li>
    </ul>
  </div>
</div>
